<?xml version="1.0"?>
<launch>

  <!-- parent launch -->
  <!-- <include file="$(find ebot_description)/launch/task2.launch" /> -->

  <!-- rviz -->
    <include file="$(find ebot_description)/launch/ebot_visualize.launch"/>

  <!-- load map -->
	<include file="$(find ebot_navigation)/launch/map.launch" />
	
  <!-- localization -->
    <include file="$(find ebot_navigation)/launch/amcl.launch" />
    
  <!-- Move base -->
    <!-- <include file="$(find ebot_navigation)/launch/movebase.launch" /> -->

  <!-- Way point buffer -->
<!--   	<node
  		name = "waypoints"
  		pkg  = "ebot_navigation"
  		type = "navtest.py" 
  		output = "screen"
	/>
 -->
</launch>
